projects/bank/* linguist-generated=true
projects/bank/* linguist-vendored
projects/tictactoe/* linguist-generated=true
projects/tictactoe/* linguist-vendored
projects/todo/* linguist-generated=true
projects/todo/* linguist-vendored
