/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: sans-serif;
}

h1 {
  padding: 10px 0 10px 10px;
  text-align: left;
  font-size: 24px;
}
