<div *mobxAutorun class="transactions">
    <mat-card class="column">
      <mat-card-header>
        <mat-card-title>Deposits</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let deposit of account.deposits">{{ deposit }}</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="column">
      <mat-card-header>
        <mat-card-title>Withdrawls</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let withdrawl of account.withdrawls">
          {{ withdrawl }}
        </div>
      </mat-card-content>
    </mat-card>
  </div>